<div class="center">
    
  <div class="flex-container">
    <img src="./assets/love3.gif" alt="Ask you GIF">
    <img src="./assets/Loveyou1.gif" alt="Ask you GIF">
    <img src="./assets/love4.gif" alt="Ask you GIF">
   </div>
  
  <p> ❤️❤️ Thank you mauuuu ❤️❤️ <p>
  <p> Not Just this time I need you for lifetime piluuu I knew you won't say noo..😂</p>
  <p>😘🤗❤️💞💖</p>
 
   <div class="flex-container">
    <img src="./assets/love8.gif" alt="Ask you GIF">
    <img src="./assets/love7.gif" alt="Ask you GIF">
    <img src="./assets/love9.gif" alt="Ask you GIF">
   </div>
  
</div>